
*{
	box-sizing: border-box;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	max-width: 90%;
	padding: 0 20px;
	margin-top: 50px;
	
}
.text {
	max-width: 60%;
	border: 1px solid black;
	padding: 0 15px;
	background-color: rgb(182, 250, 191);
}
.menu{
	border: 1px solid black;
	padding: 15px 15px;
	background-color: rgb(169, 206, 238);
}
.menu__block{
	padding: 5px 0px;
}